body {
  background: url(./assets/home.jpg) no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
}
@font-face {
  font-family: "zerovelo.ttf";
  src: url(./assets/zero/zerovelo.ttf);
}
@font-face {
  font-family: "pdark.ttf";
  src: url(./assets/perfect_dark/pdark.ttf);
}

@font-face {
  font-family: "GameMusic";
  src: url(./assets/GameMusic.ttf);
}
h1 {
  font-weight: normal;
  font-size: 1.5rem;
  margin: 0;
}
.menu {
  padding: 10px;
  color: lawngreen;
  margin-top: 80px;
  overflow: hidden;
  font-family: "zerovelo.ttf";
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
  transform: scale(1, 1.5);
}
.menu a {
  color: #b91567;
  text-shadow: 2px 2px black;
  text-align: center;
  padding: 10px 26px;
  text-decoration: none;
  font-size: 80px;
  font-stretch: 100%;
}
/* Change the color of links on hover */
.menu a:hover {
  background-color: #fafa37;
  color: black;
}
.menu a.active {
  color: purple;
}
.filter {
  font-family: "pdark.ttf";
  font-size: 70px;
  color: #50bfe6;
  text-shadow: 2px 2px #ffff66;
}
.leader{
  background-color: #b91567;
 text-align: center;
  width: 600px;
  height: 200px;
  /* height: 105px; */
  border-radius: 50%;
}
.leader-button{
  position: fixed;
  background-color: #b91567;
  width: 600px;
  text-align: center;
  height: 180px;
  border-radius: 50%;
  -webkit-animation: leader 4s infinite;
  animation: leader 4s infinite;
}
  @-webkit-keyframes leader {
    0% {
      top: 450px;
      right: 80px;
      border: 5px solid orange;
    
    }
    25% {
      top: 350px;
      right: 400px;
      border: 5px solid red;
    }
    50% {
      top: 350px;
      right: 80px;
      border: 5px solid yellow;
  
    }
    75% {
      top: 450px;
      right: 80px;
      border: 5px solid orange;
    
    }
    100% {
      top: 250px;
      right: 30px;
      border: 5px solid orange;
    
    }
  }

 
.NPC {
  background-color: #b91567;
  width: 500px;
  text-align: center;
  height: 180px;
  border-radius: 50%;
  
}

.npc-button{
  position: fixed;
  background-color: #b91567;
  width: 500px;
  text-align: center;
  height: 180px;
  border-radius: 50%;
  -webkit-animation: NPC 4s infinite;
  animation: NPC 4s infinite;
}
  @-webkit-keyframes NPC {
    0% {
      top: 250px;
      left: 30px;
      border: 5px solid orange;
    
    }
    25% {
      top: 250px;
      left: 400px;
      border: 5px solid red;
    }
    50% {
      top: 250px;
      left: 30px;
      border: 5px solid yellow;
  
    }
    75% {
      top: 400px;
      left: 400px;
      border: 5px solid orange;
    
    }
    100% {
      top: 250px;
      left: 30px;
      border: 5px solid orange;
    
    }
  }







.art-description.active {
  display: block;
}
.art-description{
  font-size: 20px;
  color:black;
  font-family: Helvetica;
  display: none;
}
.art-origin {
  font-size: 25px;
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  display: none;
}
.art-origin.active{
  display: block;
}
.art-title{
  font-size: 70px;
}

.art-image {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  height: auto;
  display: none;
}
.art-image.active {
  display: block;
}
.art-container {
  font-size: 2rem;
  width: 100%;
  font-family: "GameMusic";
  height: auto;
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px; */
  padding: 1rem;
  box-sizing: border-box;
display: none;
  border: none wheat;
  border-radius: 50%;
  color:black;

}
.image-container {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  color: violet;
  border: 5px solid orange;

}
.filter {
  padding: 6rem;
  cursor: pointer;
  width: 100%;
  height: 400px;
}


.radial-gradient {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: radial-gradient(at center, #62f727, #0906bb, #bb0669);
}