:root {
    --base: #f7392b;
    --bg-blend: multiply;
    --blur: 0px;
    --fg-blend: lighten;
    --foreground: #16006f;
    --opacity: 1;
    --spacing: 1%;
  }
  
  body {
    background: url(./assets/home.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
  }
  @font-face {
    font-family: "zerovelo.ttf";
    src: url(./assets/zero/zerovelo.ttf);
  }
  @font-face {
    font-family: "GameMusic";
    src: url(./assets/GameMusic.ttf);
  }
  .menu {
     padding: 10px;
  color: lawngreen;
  margin-top: 80px;
  overflow: hidden;
  font-family: "zerovelo.ttf";
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
  transform: scale(1,1.5);
  }
  .menu a {
    color: #b91567;
    text-align: center;
    padding: 10px 26px;
    text-decoration: none;
    font-size: 80px;
    font-stretch: 100%;
    border-radius: 50%;
  }
  /* Change the color of links on hover */
  .menu a:hover {
    background-color: #fafa37;
    color: black;
  }
  .menu a.active {
    color: purple;
  }

  .container {
    display: grid;
  }
  body {
    background-color: black;
  }
  

  .filter {
    padding: 6rem;
    cursor: pointer;
    text-shadow: 2px 2px #ffff66;
  }
  
  .male{
    font-family: "zerovelo.ttf";
    font-size: 100px;
color: 	#FF3399;
float: right;
  }
  .male-designer{
    
    font-family: "zerovelo.ttf";
    font-size: 100px;
    color: 	#FF3399;
    float: right;
    width: 600px;
    height: 300px;
    text-align: center;
    border-radius: 50%;
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);;
      animation: rotation 50s infinite linear;
    }
    
    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }

  }
  .female {    
font-family: "zerovelo.ttf";
font-size: 100px;
color: 	#FF3399;
float: left;
border-radius: 50%;

    
  }
  .female-designer{
    font-family: "zerovelo.ttf";
font-size: 100px;
color: 	#FF3399;
float: left;
width: 600px;
height: 300px;
text-align: center;
border-radius: 50%;
background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);;
  animation: rotation 50s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

  

  
.art-title{
    font-size: 70px;
  }
  
  .art-image {
    position:absolute;
    width: 750px;
    margin: 0 auto;
    height: auto;
    display: none;
    text-align: center;
  }
  .art-image.active {
    display: block;
  }
  .art-container {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    font-family: "GameMusic";
    height: auto;
    padding: 1rem;
    box-sizing: border-box;
     display: none;
    border: 5px wheat;
    border-radius: 50%;
    color:#ffff66;
    letter-spacing: 0.4rem;
    text-shadow: 5px 5px	#FF9933;
  }
  .image-container {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    color: violet;
    letter-spacing: .2rem;

  }
  @media only screen and (max-width: 458px) {
    .container {
      grid-template-columns: repeat(3, 1fr);
      font-size: 30px;
  }
  
  .menu a {
   
    font-size: 40px;
  }
  .filter {
    font-family: "pdark.ttf";
    color: #50bfe6;
    text-shadow: 2px 2px #ffff66;
  }

 
  .male-designer{
  
    font-family: "zerovelo.ttf";
    font-size: 40px;
    color: 	#FF3399;
    float: right;
    width: 200px;
    height: 100px;
  }
  .female-designer{
    font-family: "zerovelo.ttf";
font-size: 40px;
color: 	#FF3399;
float: left;
width: 200px;
height: 100px;

}
.art-title{
  font-size: 40px;
}
.art-image {
  position:absolute;
  width: 350px;}



  }