:root {
    --base: #f7392b;
    --bg-blend: multiply;
    --blur: 0px;
    --fg-blend: lighten;
    --foreground: #16006f;
    --opacity: 1;
    --spacing: 1%;
  }
  body {
    background: url(./assets/homepage.gif) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
  }
  @font-face {
    font-family: "zerovelo.ttf";
    src: url(/assets/zero/zerovelo.ttf);
  }
  @font-face {
    font-family: "GameMusic";
    src: url(/assets/GameMusic.ttf);
  }
  .menu {
     padding: 10px;
  color: lawngreen;
  margin-top: 80px;
  overflow: hidden;
  font-family: "zerovelo.ttf";
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
  transform: scale(1,1.5);
  }
  .menu a {
    color: #b91567;
    text-align: center;
    padding: 10px 26px;
    text-decoration: none;
    font-size: 80px;
    font-stretch: 100%;
  }
  /* Change the color of links on hover */
  .menu a:hover {
    background-color: #fafa37;
    color: black;
  }
  .menu a.active {
    color: purple;
  }

  .container {
    display: grid;
  }
  .male{
    font-family: "zerovelo.ttf";
    font-size: 100px;
   text-align: center;
color: 	#FF3399;
  }
  .female {
    font-family: "zerovelo.ttf";
text-align: center;
font-size: 100px;
color: 	#FF3399;
    
  }
  
  
.art-title{
    font-size: 70px;
  }
  
  .art-image {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    height: auto;
    display: none;
  }
  .art-image.active {
    display: block;
  }
  .art-container {
    font-size: 2rem;
    width: 100%;
    font-family: "GameMusic";
    height: auto;
    padding: 1rem;
    box-sizing: border-box;
     display: none;
    border: none wheat;
    border-radius: 50%;
    color:black;
  }
  .image-container {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    color: violet;
  }
  .filter {
    padding: 6rem;
    cursor: pointer;
  }
  
  .radial-gradient {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: radial-gradient(at center, #62f727, #0906bb, #bb0669);
  }