
  body{
 background: url(./assets/homepage.gif) no-repeat top center;
 background-size: cover;
        background-attachment: fixed;
       
 


}
@font-face {
    font-family: "zerovelo.ttf" ;
    src: url(/assets/zero/zerovelo.ttf);
 }
.menu{
   color: lawngreen;
    margin-top: 80px;
overflow: hidden;
font-family:"zerovelo.ttf" ;
text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;



}

.menu a {
 
    color:#b91567;
    text-align: center;
    padding:10px 26px;
    text-decoration: none;
    font-size: 80px;
    font-stretch: 100%;
  }
  
  /* Change the color of links on hover */
  .menu a:hover {
    background-color:	#FAFA37;
    color: black;
  }
  
  .menu a.active {
    color:purple;
  }
  
  .container {
display: grid;
grid-template-columns: repeat(5, 1fr);
  }

  .art-container {
    position: relative;
 padding: 1rem;
    box-sizing: border-box;
    border: 1px solid wheat;
    border-radius: 25px;
  }
  
.art-image {

width: 100%;
height: 300px;

  }
  

  
 .radial-gradient {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
  background: radial-gradient(at center,yellow, #0906bb, #bb0669);
  }
  
  
  
  
